---
import BaseIcon from '../ui/BaseIcon.astro';

const { class: className, items, ...attrs } = Astro.props;

const validItems = Array.isArray(items) ? items : [];

const classes = ['breadcrumbs', className];
---

{
  validItems.length > 0 && (
    <nav
      class:list={classes}
      {...attrs}
    >
      <ul class="breadcrumbs__list">
        {validItems.map((item, index) => (
          <li class="breadcrumbs__item">
            {index === items.length - 1 ? (
              <span class="breadcrumbs__item-text">{item.linkText}</span>
            ) : (
              <Fragment>
                <a
                  class="breadcrumbs__item-link"
                  href={item.linkUrl}
                >
                  {item.linkText}
                </a>
                <BaseIcon
                  class="breadcrumbs__item-arow"
                  name="right-arrow"
                />
              </Fragment>
            )}
          </li>
        ))}
      </ul>
    </nav>
  )
}

<style lang="scss" is:global>
  .breadcrumbs {
    $element: &;

    @include base-container;

    padding-top: rem(16);
    padding-bottom: rem(16);

    &__list {
      @include resetul;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(8);
    }

    &__item {
      @include resetli;

      display: flex;
      align-items: center;
      gap: rem(8);
    }

    &__item-link {
      @include label-14-demi;
      @include reseta;

      flex-shrink: 0;
      border-bottom: 1px solid transparent;
      color: $gray-4;
      transition:
        border-color $default-transition,
        color $default-transition;

      @media #{$is-hover} {
        &:hover {
          border-color: $primary-hover;
          color: $primary-hover;
        }
      }

      &:active,
      &:focus-visible {
        border-color: $primary-hover;
        color: $primary-hover;
      }
    }

    &__item-text {
      @include label-14-demi;

      flex-shrink: 0;
      color: $gray-3;
    }

    &__item-arow {
      flex-shrink: 0;
      width: rem(16);
      height: rem(16);
      color: $gray-4;
    }
  }
</style>
