---
import BaseSelect from '../ui/BaseSelect.astro';
import CalendarSelect from '../ui/CalendarSelect.astro';
import BaseInputField from '../ui/BaseInputField.astro';
import BaseTextareaField from '../ui/BaseTextareaField.astro';
import BaseButton from '../ui/BaseButton.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['application-form', 'js-application-form', className];
---

<form
  class:list={classes}
  action="#"
  {...attrs}
>
  <h2 class="application-form__subtitle">1. что произошло?</h2>

  <div class="application-form__form-section">
    <BaseSelect
      class="application-form__form-field js-form-field"
      label-text="Подразделение"
      error-text="Необходимо выбрать подразделение"
      placeholder="Выберите из списка"
      input-name="department"
      items={[
        {
          text: 'Подразделение 1',
          value: '1',
        },
        {
          text: 'Подразделение 2',
          value: '2',
        },
        {
          text: 'Подразделение 3',
          value: '3',
        },
      ]}
      required
    />

    <BaseInputField
      class="application-form__form-field js-form-field"
      label-text="Тема обращения"
      error-text="Необходимо выбрать тему обращения"
      placeholder="Кратко опишите суть вопроса"
      input-name="theme"
      required
    />

    <BaseTextareaField
      class="application-form__form-field js-form-field"
      label-text="Описание заявки"
      placeholder="Подробно опишите ваш вопрос или ситуацию. Если нужно — добавьте даты, подразделение или ФИО сотрудника, к которому обращаетесь"
      textarea-name="description"
    />
  </div>

  <h2 class="application-form__subtitle">2. исполнение заявки</h2>

  <div class="application-form__form-section">
    <CalendarSelect
      class="application-form__form-field application-form__form-field_narrow js-form-field"
      label-text="Срок выполнения"
      error-text="Необходимо выбрать срок выполнения"
      placeholder="Выбрать срок выполнения"
      input-name="due-date"
      required
    />

    <CalendarSelect
      class="application-form__form-field application-form__form-field_narrow js-form-field"
      label-text="Перенос срока"
      placeholder="Выбрать дату"
      input-name="rescheduling"
    />

    <CalendarSelect
      class="application-form__form-field application-form__form-field_narrow js-form-field"
      label-text="Ответственный / контролер задания"
      placeholder="Выбрать дату"
      input-name="responsible-date"
    />

    <CalendarSelect
      class="application-form__form-field application-form__form-field_narrow js-form-field"
      label-text="Исполнитель задания"
      placeholder="Выбрать дату"
      input-name="executor-date"
    />

    <BaseTextareaField
      class="application-form__form-field js-form-field"
      label-text="Отчет о выполнении"
      placeholder="Подробно опишите ситуацию. Если нужно — добавьте даты, подразделение или ФИО сотрудника"
      textarea-name="report"
    />
  </div>

  <h2 class="application-form__subtitle">3. дополнительно</h2>

  <div class="application-form__form-section">
    <BaseSelect
      class="application-form__form-field application-form__form-field_narrow js-form-field"
      label-text="Статус"
      placeholder="Выбрать"
      input-name="status"
      items={[
        {
          text: 'Статус 1',
          value: '1',
        },
        {
          text: 'Статус 2',
          value: '2',
        },
        {
          text: 'Статус 3',
          value: '3',
        },
      ]}
    />

    <BaseSelect
      class="application-form__form-field application-form__form-field_narrow js-form-field"
      label-text="Направление"
      placeholder="Выбрать"
      input-name="direction"
      items={[
        {
          text: 'Направление 1',
          value: '1',
        },
        {
          text: 'Направление 2',
          value: '2',
        },
        {
          text: 'Направление 3',
          value: '3',
        },
      ]}
    />

    <BaseSelect
      class="application-form__form-field application-form__form-field_narrow js-form-field"
      label-text="Функционал"
      placeholder="Выбрать"
      input-name="functionality"
      items={[
        {
          text: 'Функционал 1',
          value: '1',
        },
        {
          text: 'Функционал 2',
          value: '2',
        },
        {
          text: 'Функционал 3',
          value: '3',
        },
      ]}
    />
  </div>

  <div class="application-form__buttons">
    <BaseButton
      class="application-form__button"
      text="Сохранить"
      type="submit"
    />

    <BaseButton
      class="application-form__button"
      theme="bordered-gray-3"
      text="Отменить"
      type="reset"
    />
  </div>
</form>

<script>
  import { Form } from '../scripts/helpers/commonForm.js';

  function initApplicationForm() {
    const applicationForms = document.querySelectorAll('.js-application-form');

    applicationForms.forEach(applicationForm => {
      new Form({
        formElement: applicationForm,
        formFieldClass: '.js-form-field',
        invalidFieldClass: '.invalid',
        errorFieldClass: '.error',
        successModalSelector: '[data-modal="success-modal"]',
        errorModalSelector: '[data-modal="error-modal"]',
      }).init();
    });
  }

  initApplicationForm();
</script>

<style lang="scss" is:global>
  .application-form {
    $element: &;

    max-width: rem(744);

    &__subtitle {
      @include h5;

      margin: 0 0 rem(16);
    }

    &__form-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: rem(16);
      column-gap: rem(24);
      margin-bottom: rem(24);
    }

    &__form-field {
      flex-shrink: 0;
      flex-basis: 100%;

      &_narrow {
        flex-basis: calc(50% - #{rem(12)});
      }
    }

    &__buttons {
      display: flex;
      gap: rem(12);
      margin-top: rem(40);
    }

    &__button {
      flex-shrink: 0;
    }
  }
</style>
