---
import BaseButton from '../ui/BaseButton.astro';

const { class: className, 'accordion-list': accordionList, ...attrs } = Astro.props;

const validAccordionList = Array.isArray(accordionList) ? accordionList : [];

const classes = ['faq-accordion', 'js-faq-accordion', className];
---

{
  validAccordionList.length > 0 && (
    <div
      class:list={classes}
      {...attrs}
    >
      {validAccordionList.map(item => (
        <div class="faq-accordion__section js-faq-accordion-section">
          <div
            class="faq-accordion__section-title js-faq-accordion-section-title"
            tabindex="0"
          >
            <div class="faq-accordion__section-title-text">{item.title}</div>

            <div class="faq-accordion__section-title-icon" />
          </div>

          <div class="faq-accordion__section-body-wrapper js-faq-accordion-section-body-wrapper">
            <div class="faq-accordion__accordion-section-body js-faq-accordion-section-body">
              <p>{item.text}</p>

              <BaseButton
                class="faq-accordion__accordion-section-button"
                theme="transparent"
                size="sm"
                text="Подробнее"
                href={item.linkUrl}
                font="body-18"
                right-icon="right-arrow"
              />
            </div>
          </div>
        </div>
      ))}
    </div>
  )
}

<script>
  import { Accordion } from '../scripts/helpers/commonAccordion.js';

  function faqAccordion() {
    const accordions = document.querySelectorAll('.js-faq-accordion');

    accordions.forEach(accordion => {
      new Accordion({
        accordionElement: accordion,
        sectionClass: '.js-faq-accordion-section',
        activeSectionClass: '.faq-accordion-section-active',
        sectionTitleClass: '.js-faq-accordion-section-title',
        sectionContentWrapperClass: '.js-faq-accordion-section-body-wrapper',
        sectionContentClass: '.js-faq-accordion-section-body',
        showHideTime: 500,
      }).init();
    });
  }

  faqAccordion();
</script>

<style lang="scss" is:global>
  .faq-accordion {
    $element: &;

    display: flex;
    flex-direction: column;
    gap: rem(4);

    &__section {
      flex-shrink: 0;
      color: $gray-4;
      background-color: $gray-1;
    }

    &__section-title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: rem(24);
      cursor: pointer;
      gap: rem(24);
      outline: none;
      -webkit-tap-highlight-color: transparent;
    }

    &__section-title-text {
      @include h4;

      flex-grow: 1;
    }

    &__section-title-icon {
      position: relative;
      flex-shrink: 0;
      width: rem(32);
      height: rem(32);

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: rem(18);
        height: rem(2);
        background-color: $gray-4;
        transition: transform $default-transition;
        transform: translate(-50%, -50%);
        content: '';
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      .faq-accordion-section-active &::before {
        transform: translate(-50%, -50%) rotate(180deg);
      }

      .faq-accordion-section-active &::after {
        transform: translate(-50%, -50%) rotate(270deg) scale(0);
      }
    }

    &__accordion-section-body {
      padding: 0 rem(80) rem(24) rem(24);
    }

    &__accordion-section-button {
      display: inline-flex;
    }
  }
</style>
