---
import BaseIcon from '../ui/BaseIcon.astro';
import BaseButton from '../ui/BaseButton.astro';

const { class: className, 'accordion-list': accordionList, ...attrs } = Astro.props;

const validAccordionList = Array.isArray(accordionList) ? accordionList : [];

const classes = ['info-accordion', 'js-info-accordion', className];
---

{
  validAccordionList.length > 0 && (
    <div
      class:list={classes}
      {...attrs}
    >
      {validAccordionList.map(item => (
        <div class="info-accordion__section js-info-accordion-section">
          <div
            class="info-accordion__section-title js-info-accordion-section-title"
            tabindex="0"
          >
            <div class="info-accordion__section-title-text">{item.title}</div>

            <BaseIcon
              class="info-accordion__section-title-icon"
              name="right-arrow"
            />
          </div>

          <div class="info-accordion__section-body-wrapper js-info-accordion-section-body-wrapper">
            <div class="info-accordion__accordion-section-body js-info-accordion-section-body">
              {item.content.map(content => (
                <div class="info-accordion__accordion-subsection">
                  <div class="info-accordion__accordion-subtitle">{content.subtitle}</div>

                  <BaseButton
                    class="info-accordion__accordion-subsection-button"
                    theme="transparent"
                    size="sm"
                    text="Ссылка на документ"
                    href={content.linkUrl}
                    font="body-18"
                    right-icon="right-arrow"
                  />
                </div>
              ))}
            </div>
          </div>
        </div>
      ))}
    </div>
  )
}

<script>
  import { Accordion } from '../scripts/helpers/commonAccordion.js';

  function infoAccordion() {
    const accordions = document.querySelectorAll('.js-info-accordion');

    accordions.forEach(accordion => {
      new Accordion({
        accordionElement: accordion,
        sectionClass: '.js-info-accordion-section',
        activeSectionClass: '.info-accordion-section-active',
        sectionTitleClass: '.js-info-accordion-section-title',
        sectionContentWrapperClass: '.js-info-accordion-section-body-wrapper',
        sectionContentClass: '.js-info-accordion-section-body',
        showHideTime: 500,
      }).init();
    });
  }

  infoAccordion();
</script>

<style lang="scss" is:global>
  .info-accordion {
    $element: &;

    display: flex;
    flex-direction: column;
    gap: rem(8);

    &__section {
      flex-shrink: 0;
      color: $gray-4;
    }

    &__section-title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: rem(24);
      background-color: $gray-1;
      cursor: pointer;
      gap: rem(24);
      -webkit-tap-highlight-color: transparent;
    }

    &__section-title-text {
      @include h4;

      flex-grow: 1;
    }

    &__section-title-icon {
      position: relative;
      flex-shrink: 0;
      width: rem(32);
      height: rem(32);
      color: $gray-4;
      transition: transform $default-transition;
      transform: rotate(90deg);

      .info-accordion-section-active & {
        transform: rotate(-90deg);
      }
    }

    &__accordion-subsection {
      padding: rem(24) rem(24) rem(23);
      border-bottom: 1px solid $gray-2;

      &:last-child {
        border-bottom-color: transparent;
      }
    }

    &__accordion-subtitle {
      @include body-18-demi;

      margin-bottom: rem(24);
    }

    &__accordion-subsection-button {
      display: inline-flex;
    }
  }
</style>
