---
import BaseSelect from '../ui/BaseSelect.astro';
import CalendarSelect from '../ui/CalendarSelect.astro';
import BaseInputField from '../ui/BaseInputField.astro';
import BaseTextareaField from '../ui/BaseTextareaField.astro';
import BaseButton from '../ui/BaseButton.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['request-form', 'js-request-form', className];
---

<form
  class:list={classes}
  action="#"
  {...attrs}
>
  <h2 class="request-form__subtitle">1. что произошло?</h2>

  <div class="request-form__form-section">
    <BaseSelect
      class="request-form__form-field js-form-field"
      label-text="Предприятие"
      error-text="Необходимо выбрать предприятие"
      placeholder="Выберите из списка"
      input-name="enterprise"
      items={[
        {
          text: 'Предприятие 1',
          value: '1',
        },
        {
          text: 'Предприятие 2',
          value: '2',
        },
        {
          text: 'Предприятие 3',
          value: '3',
        },
      ]}
      required
    />

    <BaseInputField
      class="request-form__form-field js-form-field"
      label-text="Функциональное направление ошибки"
      placeholder="Кратко опишите направление ошибки"
      input-name="theme"
    />

    <BaseSelect
      class="request-form__form-field request-form__form-field_narrow js-form-field"
      label-text="Вид ошибки"
      placeholder="Выбрать из списка"
      input-name="error-type"
      items={[
        {
          text: 'Вид ошибки 1',
          value: '1',
        },
        {
          text: 'Вид ошибки 2',
          value: '2',
        },
        {
          text: 'Вид ошибки 3',
          value: '3',
        },
      ]}
    />

    <CalendarSelect
      class="request-form__form-field request-form__form-field_narrow js-form-field"
      label-text="Направление ошибки"
      placeholder="Выбрать дату"
      input-name="rescheduling"
    />

    <BaseInputField
      class="request-form__form-field js-form-field"
      label-text="Тема ошибки"
      error-text="Необходимо ввести тему ошибки"
      placeholder="Кратко опишите суть вопроса"
      input-name="error-theme"
      required
    />

    <BaseTextareaField
      class="request-form__form-field js-form-field"
      label-text="Описание обнаруженной ошибки"
      placeholder="Опишите проблему"
      textarea-name="description"
    />

    <BaseSelect
      class="request-form__form-field request-form__form-field_narrow js-form-field"
      label-text="Специалист, допустивший ошибку"
      placeholder="Выбрать из списка"
      input-name="specialist"
      items={[
        {
          text: 'Специалист 1',
          value: '1',
        },
        {
          text: 'Специалист 2',
          value: '2',
        },
        {
          text: 'Специалист 3',
          value: '3',
        },
      ]}
    />

    <CalendarSelect
      class="request-form__form-field request-form__form-field_narrow js-form-field"
      label-text="Дата возникновения ошибки"
      error-text="Необходимо выбрать дату возникновения ошибки"
      placeholder="Выбрать дату"
      input-name="error-date"
      required
    />
  </div>

  <h2 class="request-form__subtitle">2. что требуется сделать?</h2>

  <div class="request-form__form-section">
    <BaseTextareaField
      class="request-form__form-field js-form-field"
      label-text="Мероприятия по исправлению ошибки"
      placeholder="Подробно опишите ход действий"
      textarea-name="corrective-actions"
    />

    <CalendarSelect
      class="request-form__form-field request-form__form-field_narrow js-form-field"
      label-text="Срок исправления ошибки"
      error-text="Необходимо выбрать срок исправления ошибки"
      placeholder="Выбрать дату"
      input-name="corrective-date"
      required
    />

    <BaseSelect
      class="request-form__form-field request-form__form-field_narrow js-form-field"
      label-text="Статус выполнения мероприятий"
      placeholder="Выбрать из списка"
      input-name="status"
      items={[
        {
          text: 'Статус 1',
          value: '1',
        },
        {
          text: 'Статус 2',
          value: '2',
        },
        {
          text: 'Статус 3',
          value: '3',
        },
      ]}
    />

    <BaseSelect
      class="request-form__form-field js-form-field"
      label-text="Исполнитель задания"
      placeholder="Выберите из списка"
      input-name="executor"
      items={[
        {
          text: 'Исполнитель 1',
          value: '1',
        },
        {
          text: 'Исполнитель 2',
          value: '2',
        },
        {
          text: 'Исполнитель 3',
          value: '3',
        },
      ]}
    />
  </div>

  <div class="request-form__buttons">
    <BaseButton
      class="request-form__button"
      text="Сохранить"
      type="submit"
    />

    <BaseButton
      class="request-form__button"
      theme="bordered-gray-3"
      text="Отменить"
      type="reset"
    />
  </div>
</form>

<script>
  import { Form } from '../scripts/helpers/commonForm.js';

  function initRequestForm() {
    const requestForms = document.querySelectorAll('.js-request-form');

    requestForms.forEach(requestForm => {
      new Form({
        formElement: requestForm,
        formFieldClass: '.js-form-field',
        invalidFieldClass: '.invalid',
        errorFieldClass: '.error',
        successModalSelector: '[data-modal="success-modal"]',
        errorModalSelector: '[data-modal="error-modal"]',
      }).init();
    });
  }

  initRequestForm();
</script>

<style lang="scss" is:global>
  .request-form {
    $element: &;

    max-width: rem(744);

    &__subtitle {
      @include h5;

      margin: 0 0 rem(16);
    }

    &__form-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: rem(16);
      column-gap: rem(24);
      margin-bottom: rem(24);
    }

    &__form-field {
      flex-shrink: 0;
      flex-basis: 100%;

      &_narrow {
        flex-basis: calc(50% - #{rem(12)});
      }
    }

    &__buttons {
      display: flex;
      gap: rem(12);
      margin-top: rem(40);
    }

    &__button {
      flex-shrink: 0;
    }
  }
</style>
